@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body *{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: antiquewhite;
}

.main{
    width: 90vw;
    height: auto;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

.left{
    width: 50vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right{
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card{
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 8px;
    background-color: bisque;
    box-shadow: 0px 10px 50px -12px #000;
}

.card > h1, .card > h2, .textfield h2{
    font-size: 2.5vw;
    margin: 0;
    font-weight: 800;
    padding: 15px;
    text-align: center;
}

.card h3 {
    font-size: 1.5vw;
    margin-top: 10px;
}

.card p, .card ul {
    text-align: justify;
    line-height: 1.6;
}

.card ul {
    width: 100%;
    padding-left: 40px;
}

.textfield{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin: 10px 0px;
}

.news-item {
    width: 100%;
    margin-bottom: 15px;
}

.imagen{
    width: 35vw;
    padding: 15px 0px;
    margin: 25px;
    border-radius: 8px;
}

@media only screen and (max-width: 950px){
    .card{
        width: 85%;
    }
}